.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #a11c1c;
  background-color: black;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.navLinks a {
  color: greenyellow;
  margin: 0px 10px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease 0s;
}
.navLinks a:hover {
  color: #0ea5e9;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1rem;
  border: #0ea5e9 solid 2px;
  transition: all 0.3s ease 0s;
}
.avatar:hover {
  border: skyblue solid 2px;
  cursor: pointer;
}
.profileDropdown {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.connectWalletBtn {
  background-color: #0ea5e9 !important;
}

.appContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This will take the full height of the viewport */
  width: 100vw; /* This will take the full width of the viewport */
  background-color: black; 
}

.contentCenter {
  text-align: center;
}

.bigButton {
  padding: 15px 30px; /* Increasing padding to make the button bigger */
  font-size: 1.5em; /* Increasing font size */
  border: none; /* Removing the default border */
  border-radius: 5px; /* Adding some rounded corners */
  cursor: pointer; /* To show it's clickable */
  background-color: black; /* Button color */
  color: greenyellow; /* Button text color */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.bigButton:hover {
  background-color: rgb(45, 44, 44); /* Darker shade for hover */
}

.bigButton:disabled {
  background-color: #7b8a8b; /* Grey out when disabled */
  cursor: not-allowed;
}

.textPopUpTop {
  color: red;
  font-size: 10rem;
  padding: 0%;
  position: relative;
  z-index: 1;
  margin-top: 12%;
  margin-bottom: 0%;
	animation: textPopUpTop 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) forwards, flicker1 2s linear infinite 0.5s;
}

@keyframes textPopUpTop {
  0%, 40% {
    transform: translateY(0);
    text-shadow: none;
  }
  70% {
    transform: translateY(-30px);
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    text-shadow: 0 1px 0 #a11c1c, 0 2px 0 #a11c1c, 0 3px 0 #a11c1c, 0 4px 0 #a11c1c, 0 5px 0 #a11c1c, 0 6px 0 #a11c1c, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #a11c1c, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes flicker1 {
  0%, 100% {
    opacity: 1;
  }
  41.99%, 43.01%, 47.99%, 49.01% {
    opacity: 1;
  }
  42%, 43%, 48%, 49% {
    opacity: 0;
  }
}

.wobbleHorBottom{
	animation: wobbleHorBottom 1.5s infinite both;
}


 @keyframes wobbleHorBottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

.explanationText {
  color: #FFF; 
  font-size: 1.5rem; 
  text-align: center; 
  margin-top: -10%;

}
